.checkin-exam {
    $blue: #63ace5;

    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    padding: 5.8rem 10px;
    align-items: center;
    justify-content: space-around;

    &_title span {
        color: $blue;
        font-size: 3.6rem;
        font-weight: bold;
        margin: 20px 0;
    }

    &_info--time::after {
        content: " minutes";
    }
    &_info--time {
        font-size: 1.8rem;
        font-weight: 400;
    }
    &_button {
        min-width: 300px;
    }
}
.total--time {
    font-size: 2.2rem;
    font-weight: 700;
}
