.adjust-video .ant-menu-item-group-list {
    display: flex !important;
    flex-wrap: wrap !important;
    max-width: 600px !important;
    & > li {
        width: 200px;
    }
}

.adjust-video .ant-menu-item-selected {
    background-color: #fff !important;
}

.header {
}

.logo-style {
    height: 80px;
}
