#per-part-finish-page{

    padding: 20px 0px;
    background-color: #e9ecf3;

   
    .main{
        background: white;
        width: 90%;

        margin: 0 auto;
        padding: 10px;   
        
        min-height: 80vh;

    }
}