.exam_card {
    $demension: 100px;
    background-color: #e7eff6;
    cursor: pointer;
    transition: all 0.5s ease-in-out 0s;

    &:hover {
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    }

    border-radius: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 1.5rem;

    &_count {
        min-height: $demension;
        min-width: $demension;
        background-color: #63ace5;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
        span {
            color: #fff;
            font-size: 2.5rem;
            font-weight: 500;
        }
    }

    &_subject {
        display: flex;
        flex-wrap: wrap;
        &--set,
        &--name {
            font-size: 1.5rem;
            font-weight: 500;
        }
        &--set::after {
            content: " - ";
        }
    }
}
