.question-of-part-1-2{

    margin: 0 auto;
      
    .image, .audio, .question-part-1-2__content{
        text-align: center;
    }

    .buttons{ 
        margin: 0 auto;
        text-align: center;
    }
}