.question-of-part-5{

    margin: 0 auto;
      
    .image, .audio, .question-part-5__content{
        text-align: center;
    }

    .buttons{ 
        margin: 0 auto;
        text-align: center;
    }
}