.info {
    &_wrapper {
        background-color: #fff;
        padding: 10px 10px;
        border-radius: 0.3125rem;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    }

    &_name {
        font-size: 3rem;
        font-weight: 500;
    }
    &_level-and-subject {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &--upSize {
            font-size: 2rem;
        }
    }
}
